@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

$color1: rgba(0,0,0,0.5);
$color2: #fff;
$color3: rgb(255, 255, 208);
$color4: rgb(36, 36, 36);
$color3_translucent: rgba(255, 255, 0, 0.4);

$font1: "Roboto", "sans-serif";